video {
    width: 100%;
    height: auto;
}

.movieblack {
  background-color: black;
}

.content {
  padding-top: 50px;
}

.rightalign {
  text-align: right;
  float: right;
}

.rightmargin {
  margin-right: 10px;
}
